:root {
    box-sizing: border-box;
    font-size: calc(0.5em + 1vw);
    font-family: "Poppins", sans-serif;
}

*, 
::before, 
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
span{
    font-weight: bold;
}
.MenuPrincipal::before {
    position: absolute;
    height: 90vh;
    width: 100%;
    opacity: 0.8;
    background-image: -webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
    content: "";
}
.MenuPrincipal {
    height: 90vh;
    /* The image used */
    justify-content: center;
    align-items: center;
    color: #f0ecec;
    background: url(bg.jpg);

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.MenuPrincipal>div{
    position: absolute;
    z-index: 1;
    width: 100%;
}

.nav {
    margin-top: 0;
    width: 100%;
}

.nav ul {
    margin: 0;
    padding: 0;
}

/*Clear Fix*/
.nav ul::after,
.row::after{
    clear: both;
    content: " ";
}

.nav ul li {
    display: inline-block;
    text-align: center;
    margin-top: 0;
    font-size: 0.8em;  
    float: right; 
}

.nav ul li a{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    padding: 1em;
}
header h1 {
    margin-top: 0;
    line-height: 2em;
    padding-top: 0.1em;
    padding-left: 1.2em;
    font-size: 1.5em; 
    text-transform: uppercase;

}

.flex-cont h3{
    margin-top: 5em;
    font-size: 1em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 0;
}
.flex-cont h2{
    margin-top: 0.1em;
    text-align: center;
    font-size: 120px;
    font-weight: 100;
    color: #fff;
    font-weight: 100;
}
.start{
    width: 25%;
    background-color: Transparent;
    padding: 1em;
    border: rgb(245, 245, 245), 1px;
    border-radius: 20px;
    color: #f0ecec;
}
.flex-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.Not1{
    height: 80vh;
    display: grid;justify-items: center;
    grid-template-justify-items: center;mns: 40% 40%;
    grid-gap: 1em;justify-items: center;
    align-items: center;
    margin-left: 1em;
}

.Not2{
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;

    background: url(img3.jpg);
    height: 80vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.GaleriaImagenes .container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 2em;
    padding: 90px 0 120px 40px;
}
.formulario{
    background: url(img5.jpg);
    height: 90vh;
    width: 100%;
    color: #f0ecec;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.formulario::before {
    position: absolute;
    height: 90vh;
    width: 100%;
    opacity: 0.8;
    background-image: -webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
    content: "";
}
.formulario .container{
    padding-top: 3em;
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.formulario form{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-items: center;
    width: 80%;
}
.formulario form div{
    color: white;
    background-color: transparent;
}
.subscribe{
    height: 40vh;
    width: 100%;

}
.subscribe> .container{
    height: 70%;
    margin: 2em 2em 0em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.subscribe> .container input{
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    margin: 14px;
    padding: 10px 50px 10px 16px;
    border: none;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(0,142,198,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252,252,252,1);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    -webkit-transition: text-shadow 200ms cubic-bezier(0.165, 0.84, 0.44, 1) 10ms;
    -moz-transition: text-shadow 200ms cubic-bezier(0.165, 0.84, 0.44, 1) 10ms;
    -o-transition: text-shadow 200ms cubic-bezier(0.165, 0.84, 0.44, 1) 10ms;
    transition: text-shadow 200ms cubic-bezier(0.165, 0.84, 0.44, 1) 10ms;

}
.subscribe> .container > div{
    padding-bottom: 1.7em;
}
footer{
    height: 40vh;
    color: #ffffff;
    background-color: #131111;
    padding: 3em 3em;
}
footer>div{
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
}
footer .nav{
    padding-bottom: 1em;
}
footer .nav ul li {
    float: none; 
}